@import 'styles/variables';

.checkbox {
  input[type='checkbox'] {
    position: relative;
    border: 2px solid $color-primary;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    appearance: none;
  }

  input[type='checkbox']:hover,
  input[type='checkbox']:focus,
  input[type='checkbox']:checked:focus,
  input[type='checkbox']:checked:hover {
    border: 2px solid $color-input;
  }

  input[type='checkbox']:checked {
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }

  input[type='checkbox']:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
  }
}
