// LAYOUT

// // Line heights
$line-height: 1.5;

// Colors
$color-background-main: #fbfbf9;

$color-primary: #aa93ff;
$color-primary-hover: #bba8ff;

$color-secondary: #f0f0ea;
$color-text-dark: #21093a;

$color-disabled: #dedede;
$color-text-gray: #9c9c9c;
$color-input-disabled: #fbfaf9;

$color-text-dark-gray: #606060;
$color-dark-gary: #1c1b1f;
$color-background-yellow: #d9d4a7;
$color-background-purple: #e3d2ff;
$color-light-gray: #e9e9e9;
$color-error: #eb5757;
$color-input: #60378b;

$color-white: #ffffff;
$color-gray: #667085;
$color-black: #000000;

$color-gary-border: rgba(33, 9, 58, 0.15);
$color-background-modal: rgba(0, 0, 0, 0.5);

// BREAKPOINTS

$mobile: 599px;
$tablet: 899px;
